
<html data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CargaMasiva</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    <body>
        <div class="container">
            <div th:if="${errores != true}">
                <button id="mostrarFormulario" class="btn btn-primary" onclick="mostrarFormulario()">Mostrar Formulario</button>

                <div id="botones" class="row" style="display:none">
                    <div class="btn-group">
                        <button class="btn btn-success col-md-6" id="btnExcel">Excel</button>
                        <button class="btn btn-primary col-md-6" id="btnTxt">TXT</button>
                    </div>
                </div>

                <div id="formularioArchivo" style="display: none">
                    <br>
                    <form action="/usuario/cargaMasiva" method="post" enctype="multipart/form-data">
                        <input type="file" id="archivo" name="archivo" accept=".xlsx,.txt">
                        <button type="submit" class="btn btn-success" id="cargaMasiva">Subir Archivo</button>
                    </form>
                </div>


                <div id="listaErrores" style="display: none">
                    <br>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:if="${errores == false}">
            <div class="alert alert-success">¡Archivo validado correctamente!</div>
            <a th:href="@{/usuario/cargaMasiva/procesar/{id}(id=${uuid})}" class="btn btn-success">Procesar carga masiva</a>
        </div>

        <div class="container">
            <div  th:if="${funciono == true}" class="alert alert-danger">

                <span>Errores en archivo</span>

                <div class="col-sm table-responsive">
                    <table class="table table-striped border border-primary">
                        <thead>
                            <tr class="text-start">
                                <th>Fila</th>
                                <th>Dato</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody class="text-start">
                            <tr th:each="error : ${errores}">


                                <td>
                                    <span style="white-space: pre-line;" th:text="|${error.fila}|"></span>
                                    <br>
                                </td>
                                <td>
                                    <span style="white-space: pre-line;" th:text="|${error.dato}|"></span>
                                    <br>
                                </td>
                                <td>
                                    <span style="white-space: pre-line;" th:text="|${error.descripcion}|"></span>
                                    <br>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>


    <script>
        function mostrarFormulario() {
            document.getElementById("mostrarFormulario").style.display = "none";
            document.getElementById("botones").style.display = "block";
        }

        let tipoArchivo = "";

        document.getElementById("btnExcel").addEventListener("click", function () {
            tipoArchivo = "xlsx"; // Tipo de archivo que se espera
            document.getElementById("formularioArchivo").style.display = "block";
            document.getElementById("archivo").setAttribute("accept", ".xlsx"); // Solo archivos Excel

            // Cambiar el botón "Subir Archivo" a verde (btn-success)
            document.getElementById("cargaMasiva").classList.remove("btn-primary");
            document.getElementById("cargaMasiva").classList.add("btn-success");
        });

        document.getElementById("btnTxt").addEventListener("click", function () {
            tipoArchivo = "txt"; // Tipo de archivo que se espera
            document.getElementById("formularioArchivo").style.display = "block";
            document.getElementById("archivo").setAttribute("accept", ".txt"); // Solo archivos TXT

            // Cambiar el botón "Subir Archivo" a azul (btn-primary)
            document.getElementById("cargaMasiva").classList.remove("btn-success");
            document.getElementById("cargaMasiva").classList.add("btn-primary");
        });

        document.getElementById("archivo").addEventListener("change", function () {
            if (this.files.length > 0) {
                var fileName = this.files[0].name;
                var fileExtension = fileName.split('.').pop().toLowerCase();

                if (fileExtension !== tipoArchivo) {
                    alert("Por favor, seleccione un archivo " + tipoArchivo.toUpperCase() + " válido.");
                    this.value = "";
                }
            }
        });
    </script>



</html>
