<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html   xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </head>
    <body>

        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;" >
            <div class="card border border-dark" style="width: 18rem;">
                <div class="card-body">

                    <div th:if="${param.error}" class="alert alert-danger">
                        <span>
                            Usuario o contraseña incorrecto
                        </span>
                    </div>

                    <form th:action="@{/login}" method="post" th:object="${usuario}">
                        <div style="text-align: center;">
                            <h5 class="card-title row m-4" >Inicio de sesion</h5>
                        </div>

                        <div class="card-title row m-4">
                            <p class="card-text">Nombre de usuario</p>
                            <input th:field="*{username}" class="form-control" type="text"  name="username"></input>
                        </div>

                        <div class="card-title row m-4">
                            <p class="card-text">Contraseña</p>
                            <input th:field="*{password}" type="password" name="password" class="form-control"></input>
                        </div>

                        <button type="submit" class="btn btn-primary row m-4">Iniciar</button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>